{% extends "base.html" %}

{% block head %}
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <!-- Theme style -->
    <link rel="stylesheet" href="/home/{{ home_path }}pedido.sumagroups.com/public/assets/css/adminlte.css">
    <!-- Datatable -->
    <link rel="stylesheet" href="/home/{{ home_path }}pedido.sumagroups.com/public/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block wrapper %}
    <div class="wrapper" style="page-break-before:always;">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-6 d-flex flex-column align-items-start justify-content-center">
                                        <h3 class="card-title">Aviso de Telecobranza</h3>
                                        <h3 class="card-title"><strong>Documentos expresados en USD</strong></h3>
                                        <h3 class="card-title">{{ "now"|date("Y/m/d") }}</h3>
                                    </div>
                                    <div class="col-6 d-flex flex-column align-items-end justify-content-center">
                                        <h3 class="card-title">{{ user.name }}</h3>
                                        <h3 class="card-title"><a href="mailto:{{ user.email }}">{{ user.email }}</a></h3>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="card-body table-responsive px-0">
                                <table class="table table-striped table-valign-middle">
                                    <thead>
                                        <tr class="text-center">
                                            <th>Marca</th>
                                            <th>Organizaci&oacute;n</th>
                                            <th>Tercero </th>
                                            <th>Tipo de Documento</th>
                                            <th>Nro del Documento</th>
                                            <th>Descripci&oacute;n Factura</th>
                                            <th>Fecha Facturaci&oacute;n</th>
                                            <th>Fecha Vencimiento</th>
                                            <th>Dias Vencido</th>
                                            <th class="text-right">Saldo Abierto</th>
                                            <th>Representante Comercial</th>
                                            <th>Notas</th>
                                            <th>&Uacute;ltimo Contacto</th>
                                            <th>Pr&oacute;ximo Contacto</th>
                                            <th>Operador</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% set renglon = 0 %}
                                    
                                    {% for notice in notices %}
                                        <tr role="row">
                                            <td class="border align-middle">{{ notice.brand }}</td>
                                            <td class="border align-middle">{{ notice.organization }}</td>
                                            <td class="border align-middle">{{ notice.bpartner }}</td>
                                            <td class="border align-middle">{{ notice.doctype }}</td>
                                            <td class="border align-middle">{{ notice.documentno }}</td>
                                            <td class="border align-middle">{{ notice.description }}</td>
                                            <td class="border align-middle text-center">{{ notice.dateinvoiced }}</td>
                                            <td class="border align-middle text-center">{{ notice.duedate }}</td>
                                            <td class="border align-middle text-right">{{ notice.daysdue }}</td>
                                            <td class="border align-middle text-right">{{ notice.openamt|format_currency('USD') }}</td>
                                            <td class="border align-middle">{{ notice.rep_comercial }}</td>
                                            <td class="border align-middle">{{ notice.nota }}</td>
                                            <td class="border align-middle">{{ notice.ultimo_contacto }}</td>
                                            <td class="border align-middle">{{ notice.proximo_contacto }}</td>
                                            <td class="border align-middle text-center">{{ notice.operador }}</td>
                                        </tr>
                                        {% set renglon = renglon + 1 %}

                                        <!-- Salto de Pagina -->
                                        {% if renglon >= 25 and loop.last == false %}
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wrapper" style="page-break-before:always;">
                                                <div class="content">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="card">
                                                                    <div class="card-header">
                                                                        <div class="row">
                                                                            <div class="col-6 d-flex flex-column align-items-start justify-content-center">
                                                                                <h3 class="card-title">Aviso de Telecobranza</h3>
                                                                                <h3 class="card-title"><strong>Documentos expresados en USD</strong></h3>
                                                                                <h3 class="card-title">{{ "now"|date("Y/m/d") }}</h3>
                                                                            </div>
                                                                            <div class="col-6 d-flex flex-column align-items-end justify-content-center">
                                                                                <h3 class="card-title">{{ user.name }}</h3>
                                                                                <h3 class="card-title"><a href="mailto:{{ user.email }}">{{ user.email }}</a></h3>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="card-body table-responsive px-0">
                                                                        <table id="invoices-table" class="table table-striped table-valign-middle">
                                                                            <tbody>
                                            {% set renglon = 1 %}
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}

{% endblock %}